/* Mobile Screens */
@media screen and (min-width: 300px) and (max-width: 768px) {
  body {
    animation: none;
    background-image: url(../img/retina_wood.png);
  }

  h1 {
    font-size: 40px; /* Fallback size */
    font-size: 16vw;
    margin: 5px 10px 2px 10px;
    text-align: center;
  }

  .container {
    margin-top: 5px;
  }

  .deck {
    background-image: linear-gradient(
      135deg,
      rgba(219, 220, 226, 1),
      rgba(217, 217, 217, 1)
    );
    box-shadow: 2px 1px 3px 0 rgba(46, 61, 73, 0.5);
    margin-top: 0;
    min-height: 305px;
    padding: 10px;
    perspective: 700px;
    width: 300px;
  }

  .deck .card {
    height: 60px;
    width: 60px;
  }

  .deck .card.show {
    font-size: 28px;
  }

  .deck .card.match {
    font-size: 28px;
  }

  .score-panel {
    border: 1px solid #000;
    border-radius: 16px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 15px;
    width: 290px;
    text-shadow: 2px 2px rgba(200, 200, 200, 1);
  }

  .score-panel .restart {
    font-size: 26px;
    margin-top: -40px;
    margin-left: 5px;
  }

  #display-timer {
    display: block;
    font-size: 15px;
    margin-left: 0;
    padding-top: 5px;
  }

  /* Congrats Modal */

  .modal-content {
    width: 97.5%;
  }

  .modal-box {
    padding-top: 200px;
  }

  .close-button {
    font-size: 24px;
    padding: 2px 12px;
  }

  .modal-header {
    background-image: linear-gradient(
      to bottom,
      #4c4c4c 0%,
      #595959 12%,
      #666666 25%,
      #474747 39%,
      #2c2c2c 50%,
      #000000 51%,
      #111111 60%,
      #2b2b2b 76%,
      #1c1c1c 91%,
      #131313 100%
    );
    color: rgba(192, 192, 192, 1);
    letter-spacing: 1px;
    text-shadow: 1px 1px rgba(128, 128, 128, 1);
  }

  .modal-header h3 {
    font-size: 16px;
  }

  .modal-body {
    letter-spacing: 1px;
    text-shadow: 1px 1px rgba(192, 192, 192, 1)
  }

  .modal-body h4 {
    font-size: 28px;
    margin-top: 10px;
  }

  .modal-body table {
    font-size: 18px;
  }

  .modal-button {
    font-size: 18px;
    font-weight: bolder;
    width: 42%;
  }

  /* Progress Modal */
  .prog-modal {
    padding-top: 100px;
  }

  .prog-dialogue {
    width: 80%;
  }
}

/* tablets/netbooks/mid-size laptop screens */

/* iPad Pro */
@media screen and (min-height: 1366px) and (min-width: 1024px)  {
  body {
    animation: none;
    background-image: url(../img/retina_wood.png);
  }

  h1 {
    font-size: 120px; /* Fallback size */
    font-size: 13vw;
    margin-bottom: 10px;
  }

  .deck {
    background-image: linear-gradient(
      135deg,
      rgba(219, 220, 226, 1),
      rgba(217, 217, 217, 1)
    );
    height: 900px;
    margin-top: 10px;
    min-width: 900px;
  }

  .deck .card {
    min-height: 180px;
    min-width: 180px;
  }

  .deck .card.show {
    font-size: 80px;
  }

  .deck .card.match {
    font-size: 80px;
  }

  .score-panel {
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 30px;
    padding: 40px;
    min-width: 745px;
  }

  .score-panel .restart {
    font-size: 65px;
    margin-top: -95px;
  }

  #display-timer {
    display: block;
    font-size: 40px;
    margin-left: 0;
    padding-top: 5px;
  }

  /* Congrats Modal */

  .modal-content {
    width: 95%;
  }

  .modal-box {
    padding-top: 460px !important;
  }

  .modal-body h4 {
    font-size: 50px !important;
  }

  .modal-body table {
    font-size: 32px !important;
  }

  .modal-header {
    background-image: linear-gradient(
      to bottom,
      #4c4c4c 0%,
      #595959 12%,
      #666666 25%,
      #474747 39%,
      #2c2c2c 50%,
      #000000 51%,
      #111111 60%,
      #2b2b2b 76%,
      #1c1c1c 91%,
      #131313 100%
    );
    color: rgba(192, 192, 192, 1);
    letter-spacing: 1px;
    text-shadow: 1px 1px rgba(128, 128, 128, 1);
  }

  .modal-header h3 {
    font-size: 36px !important;
  }

  .modal-button {
    font-size: 30px !important;
  }

  .close-button {
    font-size: 38px !important;
    padding: 6px 24px !important;
  }

  /* Progress Modal */
  .prog-modal {
    padding-top: 300px !important;
  }

  .prog-dialogue {
    padding: 15px !important;
    width: 80%;
  }

  .prog-dialogue h5 {
    font-size: 36px !important;
  }

  .bar {
    min-height: 30px;
  }
}

/* iPad Mini, iPad */

@media screen and (min-height: 1024px) {
  .deck {
    min-height: 500px;
    margin-top: 5px;
    width: 480px;
  }

  .deck .card {
    height: 100px;
    width: 100px;
  }

  .deck .card.show {
    font-size: 55px;
  }

  .deck .card.match {
    font-size: 55px;
  }

  .score-panel {
    font-size: 46px;
    margin-top: 0;
    padding: 40px;
    width: 700px;
  }

  .score-panel .restart {
    font-size: 65px;
    margin-top: -95px;
  }

  #display-timer {
    display: block;
    font-size: 36px;
    margin-left: 0;
    padding-top: 5px;
  }

  .close-button {
    font-size: 30px;
    padding: 4px 18px;
  }

  .modal-header h3 {
    font-size: 24px;
  }

  .modal-box {
    padding-top: 400px;
  }

  .modal-body h4 {
    font-size: 34px;
  }

  .modal-body table {
    font-size: 20px;
  }

  .modal-button {
    font-size: 20px;
    width: 20%;
  }

  /* Progress Modal */
  .prog-modal {
    padding-top: 180px;
  }
}
